* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --font-gray: #ccc;
  --font-blue: #70c7f4;
  --bg-orange: #ff9530;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #010101;
  background-color: #fff;
  font-weight: 400;
  font-size: 11px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.gray-txt {
  color: var(--font-gray) !important ;
}
.blue-txt {
  color: var(--font-blue) !important ;
}
.bg-orange {
  background-color: var(--bg-orange) !important ;
}
.flex {
  display: flex;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.align-items {
  align-items: center;
}
.text-bold {
  line-height: 12px;
  font-weight: bold !important;
  font-size: 12px;
}

/* navbar*/
.navbar {
  background-image: url("assets/bckgrnhdr.gif");
  position: relative;
  border-bottom: 3px solid #d6631d;
}
.navbar > .flex {
  flex-direction: column;
}

/* start top  header */
.top-header {
  width: 100%;
  justify-content: end;
  align-items: flex-start;
}
.top-header ul li {
  padding: 6px 0 4px;
}
.top-header-bg1 {
  background-image: url("assets/top-header-pg1.png");
}
.top-header-bg1 a {
  color: #fff;
  padding: 6px 11px;
  line-height: 7px;
}
.top-header ul li a {
  transition: all 0.4s ease-in-out;
}
.top-header ul li a:hover {
  /* color:#ff6600; */
  color: #f1be9c;
}

.top-header-bg2 {
  background-image: url("assets/top-header-pg2.png");
}
.top-header-bg2 a {
  position: relative;
  color: #fff;
  padding: 6px 17px;
  line-height: 7px;
}
.top-header-bg1 .arrow-margin {
  margin-right: 6px;
}

.top-header-bg2 span {
  margin-right: 6px;
}
.top-header-bg2 a img {
  position: absolute;
  top: -2px;
  right: 0;
}
.date {
  align-self: center;
  margin-right: 9px;
}
/* start  middle-header */
.middle-header {
  margin-top: 10px;
}
.logo-middle-header {
  cursor: pointer;
}
.search-middle-header {
  align-items: flex-end;
}
.search-middle-header input {
  width: 251px;
  border: none;
  padding: 5px 11px 6px 9px;
  border-radius: 7px;
  box-shadow: 1px 1px 18px -10px rgba(0, 0, 0, 0.75) inset;
  position: relative;
  z-index: 2;
  font-size: 14px;
  font-weight: bold;
  right: -5px;
  color: #828181;
  outline: none;
  background-image: url("assets/icon-search.png");
  background-repeat: no-repeat;
  background-position: 9px 6px;
  text-indent: 13px;
}

.search-middle-header button {
  border: none;
  padding: 9px 9px 7px 7px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-image: url("assets/goButton-bg.png");
  /* background-size: contain; */
  color: #fff;
  font-weight: bold !important;
  font-size: 14px;
  line-height: 11px;
}

::placeholder {
  line-height: 12px;
  font-weight: 400;
  font-size: 12px;
  color: #828181;
}

/* start lower header */
.lower-header {
  margin-top: 26px;
  align-self: flex-start;
  justify-content: start;
  background-image: url("assets/lower-header-bg.png");
  background-size: cover;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.lower-header ul {
  align-items: flex-start;
}

.lower-header ul li {
  padding: 6px 0 8px;
  position: relative;
}
.arrow {
  position: absolute;
  top:45px;
  /* right:15px;  */
  margin: 0 auto;
}

.lower-header a {
  color: #fff;
  padding: 8px 18px;
  /* padding: 7px 18px 5px 15px; */
  line-height: 12px;
  font-size: 14px;
  font-weight: 400px;
}
.lower-header ul .bluebg {
  background-color: var(--font-blue);
  border-top-right-radius: 9px;
}
.lower-header ul .hover-curve {
  border-top-left-radius: 9px;
}
.lower-header ul li {
  transition: all 0.4s ease-in-out;
}
.lower-header ul li:hover,
.autofocus {
  background-color: var(--bg-orange);
}

/* <!-- start gray bar --> */

.gray-bar-section {
  background-image: url("assets/gray-bar-bg.png") !important;
  margin-bottom: 7px;
}

.gray-bar-section ul {
  padding: 7px 0;
}
.gray-bar-section a {
  color: #000;
  padding: 4px 12px 2px 17px;
  line-height: 12px !important;
  transition: all 0.4s ease-in;
}
.gray-bar-section a:hover {
  color: #fb6b00;
}

/* Article Section */
.article-section {
  margin-bottom: 9px;
}
.article-section-special-alert {
  margin-bottom: 10px;
  width: 100%;
}
.article-section-special-alert .box1 {
  padding: 10px 8px 12px 12px;
  background-image: url("assets/special-alert-bg1.png");
  background-size: cover;
  margin-right: 4px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #fb6b00;
  text-transform: uppercase;
  line-height: 8px;
  font-weight: bold !important;
  font-size: 12px;
}
.article-section-special-alert .box2 {
  width: calc(100% - 118.6px);
  padding: 12px 0px 11px 10px;
  box-shadow: inset 2px 3px 28px -13px rgba(0, 0, 0, 0.62);
  font-weight: 400 !important;
  line-height: 7px;
  border-bottom: 1px solid #cecece;
}

.article-item-one{
   order:1;
  width: 307px;
  position: relative;
  flex-direction: column;
}

 .article_img {
  width: 100%;
  height: 290px;
  
}
.article-item-two  {
  order:2;
  width: 386px;
  padding: 0 26px 0 20px;

}
/* .article-item:nth-of-type(3) {
} */
.article-item-three  {
  order:3;
  width: 307px;
  position: relative;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 30px;
  top: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  align-items: center;
}

.overlay p {
  padding-left: 15px;
}

.article-left-btns {
  margin-bottom: 6px;
  background-image: url("assets/special-alert-bg1.png");
  padding: 4px 0 6px 0;
}

.article-left-btns button {
  border-radius: 2px;
  border: none;
  width: 14px;
  height: 14px;
}
.article-left-btns li {
  margin-right: 5px;
  justify-content: center;
  align-items: center;
}

.stocks-in-brief {
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  flex-direction: column;
}

.stocks-in-brief-container1 ,
.ask-the-expert-container1 {
  /* align-items: flex-start; */
  background-color: #e4e4e4;
  margin: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.stocks-in-brief-container1 .span1 {
  align-items: flex-start;
  justify-content: flex-start;
  padding:8px 17px 7px 12px;
  text-transform: uppercase;
  line-height: 16px;
  font-weight: bold;
  font-size: 11px;
}

.stocks-in-brief-container1 .span1,
.ask-the-expert-container1 b{
  margin-top: 2px;
  margin-left: 2px;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.stocks-in-brief-container1 .span2 {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 21px 7px 49px;
  text-transform: uppercase;
  line-height: 16px;
  font-weight: 400 !important;
  font-size: 11px;
}

.stocks-in-brief-inner {
  margin: 1px 11px;
  flex-direction: column;
}
.stocks-in-brief p {
  padding: 6px;
}
.stocks-in-brief p a,
.article-links a {
  color: #336699;
  line-height: 14px;
  font-weight: 400;
  font-size: 12px;
}
/* start article middle */

.partial-title{
  padding: 5px  0 11px 0;

}
.partial-title span {
  font-size: 10px;
  font-weight: 400px;
  padding-right: 6px;
  line-height: 16px;
  color: #333333;
  text-transform: uppercase;
}

.article-middle h3 {
  color: #336699;
  font-size: 16px;
  font-weight: 400 !important;
  line-height: 16px;
  margin-bottom: 13px;
}

.article-middle-para {
  color: #010101;
  font-size: 12px;
  font-weight: 400 !important;
  margin-bottom: 13px;

}
.article-middle-para time,
.stock-reasearch-left-article-info time,
.stock-reasearch-left-links time {
  color: #666666;
}

.article-middle-para span {
  color: #fe7801;
  font-size: 13px;
  font-weight: bold;
}
.article-middle {
  border-bottom: 1px dashed #ababab;
}
.article-links{
  padding: 13px 0 9px 0;
}
/* start article right */
.article-right {
  background-image: url("assets/podcast-bg.png");
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: contain;
  align-items: flex-start;
  justify-content: flex-start;
}

.article-right h4 {
  padding: 4px 0;
}
.article-right h4 a {
  padding: 7px 8px 7px 10px;
  color: #fff;
  font-size: 10px;
  font-weight: 400px !important;
  /* line-height: 16px; */
  line-height: 9px;
}

.PODCAST-div{
  margin-left:7px ;
}
.PODCAST {
  border-radius: 15px;
  background-image: url("assets/podcast-bgorange.png");
  width: 76px;
}
/* article-right-listen
   padding: 10px 15px 25px 9px; 
   padding: 11px 16px 27px 0; */

.article-right-listen {
  background-image: url("assets/telephon-bg.png");
  position: relative;
}


.article-right-listen .telephon-img {
  padding: 13px 15px 47px 9px;
}
.article-right-listen-links {
  padding: 14px 16px 45px 0;
}
.article-right-listen-links p {
  background-image: url("assets/telephon-list-bg.png");
  margin-bottom: 1px;
  padding: 6px;
}
.article-right-listen-links p img {
  margin-right: 6px;
  position: relative;
  top: 2px;
}
.article-right-listen-links p a {
  color: #fff;
  font-size: 12px;
  font-weight: 400 !important;
  /* line-height: 16px; */
  line-height: 12px;
}
.article-right-listen .more {
  position: absolute;
  right: 31px;
  bottom: 14px;
}
.article-right-listen .more-ancher {
  color: #ff7b04;
  font-size: 12px;
  font-weight: 400 !important;
  line-height: 12px;
}
/* membership renewable */
.membership-renewal {
  background-color: #9fceec;
  margin-top: 7px;
  padding: 15px 14px 10px 13px;
}

.membership-renewal-info h3 {
  font-size: 14px;
  font-weight: bold !important;
  /* line-height: 18px; */
  line-height: 16px;
  margin-bottom: 10px;
}
.membership-renewal-info h3 span {
  color: #fff;
}
.membership-renewal-info p {
  font-size: 12px;
  font-weight: 400 !important;
  color: #000;
}
.renew-bg {
  background-image: url("assets/renew-bg.png");
  /* background-size:contain; */
  background-size: 70px 55px;

  background-repeat: no-repeat;
  /* width:66px ;
height: 52px; */
}
.renew-bg p {
  text-transform: capitalize;
  position: relative;
  top: 5px;
  right: -2px;
  color: #fff;
  font-size: 14px;
  font-weight: bold !important;
  padding: 8px;
}
.renew-bg span {
  color: #fc7903;
}

/* follow us */
.follow-us {
  margin-top: 7px;
  background-color: #e4e4e4;
  border-radius: 4px;
  margin-bottom: 7px;
}
.follow-us ul {
  justify-content: space-around;
}
.follow-us ul li {
  padding: 8px 0;
}
.follow-us .border-right {
  border-right: 1px solid #c7c7c7;
  padding-right: 9px;
}
.follow-us .border-right-style {
  color: #666666;
  font-weight: 400 !important;
  font-size: 11px;
  align-self: center;
}
.follow-us .social-media {
  margin-right: 6px;
}
.follow-us .social-media-txt {
  color: #000;
  font-weight: 400 !important;
  font-size: 11px;
  align-self: center;
}

/* ask the expert */
.ask-the-expert {
  border: 1px solid #c1c1c1;
  border-radius: 5px;
}

.ask-the-expert-container1 b {
  padding: 11px 21px 10px 25px;
}
.ask-the-expert-container1 .s {
  display: block;
  padding: 11px 47px 10px 61px;
  /* justify-content: center;
  align-items: center; */
  /* padding: 27px  47px 10px 61px; */
  /* text-align: center; */
  /* align-self: center; */
}
.ask-the-expert-ul {
  padding: 17px 0 13px 13px;
  border-bottom: 1px solid #ababab;
}
/* .ask-the-expert-ul li{
margin-bottom:2px ;
} */
.ask-the-expert-ul img {
  padding-right: 8px;
  position: relative;
  top: 2px;
}
.ask-the-expert-ul a {
  font-weight: 400 !important;
  font-size: 12px;
  line-height: 16px;
  color: #336699;
}
.ask-the-expert-more {
  padding: 8px 0px 6px 0;
  position: relative;
  left: 266px;

  /* bottom: 6px; */
}
.ask-the-expert-more a {
  font-weight: 400 !important;
  font-size: 12px;
  line-height: 16px;
  color: #336699;
}


/* start images section */
.images-section {
  padding: 12px 17px 23px 26px;
  background-image: url("assets/images-section-bg.png");
  margin-bottom: 14px;
}
.images-section-heading {
  text-transform: uppercase;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
}
.image-and-description {
  width: 175px;
  display: flex;
  flex-direction: column;
  margin-right: 21px;
}
.images-section-img {
  display: block;
  height: 130px;
  width: 100%;
}
.images-section-text {
  margin-top: 11px;
  width: 175px;
}
.images-section-text span {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
}
.images-section-text a {
  color: #336699;
  line-height: 16px;
  font-weight: 400;
  font-size: 11px;
}

/* start stock research */
/*stock-reasearch-sidebar */
.stock-reasearch-sidebar {
  border-top: 1px solid #ababab;
  border-bottom: 1px dashed #ababab;
}
.border-right {
  border-right: 1px solid #ababab;
}
.stock-reasearch-sidebar a {
  display: inline-block;
  padding: 14px 18px 13px 13px;
  color: #336699;
  text-transform: uppercase;
  line-height: 14px;
  font-weight: bold !important;
  font-size: 12px;
}
.mar-span {
  margin-left: 14px;
}
.stock-reasearch-sidebar-heading {
  padding: 14px 17px 13px 12px;
  display: inline-block;
  color: #666666;
  text-transform: uppercase;
  line-height: 16px;
  font-weight: 400 !important;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  /* border-bottom: 1px dashed #ababab; */
}

/* stock reasearch article */
.stock-reasearch-article {
  margin: 11px 0;
  align-items: flex-start;
}

.stock-reasearch-item:nth-of-type(1) {
  width: 420px;
  padding: 7px 0 33px 19px;
}

.stock-reasearch-item:nth-of-type(2) {
  width: 275px;
  padding: 18px 41px 0 35px;
}
.stock-reasearch-item:nth-of-type(3) {
  width: 305px;
}
.stock-reasearch-left-article img {
  width: 150px;
  height: 98px;
  margin-right: 18px;
}
.stock-reasearch-left-article-info {
  padding: 3px 0 23px 0px;
  flex-direction: column;
}
.stock-reasearch-left-article-info h3 {
  color: #336699;
  font-size: 16px;
  font-weight: 400px;
  line-height: 16px;
  margin-bottom: 14px;
}
.stock-reasearch-left-article-info p {
  font-size: 12px;
  font-weight: 400px;
  line-height: 18px;
}

.stock-reasearch-left-links a,
.stock-reasearch-right-links  a,
.stock-reasearch-right-links-second a {
  color: #114a84;
  line-height: 18px;
  font-weight: 400 !important;
  font-size: 12px;
}

/* stock-reasearch middle */

.stock-reasearch-middle {
  width: 200px;
  height: 134px;
  flex-direction: column;
}
/* .stock-reasearch-middle:first-child { */
.stock-reasearch-middle .videobg {
  background-image: url("assets/video-bg.png");
  width: 100%;
  background-color: #464545;
}
.stock-reasearch-middle p {
  line-height: 9px;
  font-weight: bold;
  font-size: 12px;
  color: #999999;
  padding: 6px 0 8px 12px;
}
.stock-reasearch-middle img {
  width: 100%;
  margin-bottom: 12px;
  margin-top:1px ;
}
.stock-reasearch-middle a{
  padding-left: 11px;
}
.stock-reasearch-middle a,
.stock-reasearch-right .seeMore {
  color: #336699;
  line-height: 16px;
  font-weight: 400;
  font-size: 11px;
}
/* stock research right */
.stock-reasearch-right {
  border-radius: 5px;
  border: 1px solid #c1c1c1;
}
.stock-reasearch-right-links {
  padding: 11px 15px 17px 10px;
  border-bottom: 1px solid #c1c1c1;
}
.stock-reasearch-right-links-second {
  padding: 14px 22px 17px 15px;
}
.stock-reasearch-right-links time {
  color: #666;
}
.stock-reasearch-right .first-heading {
  border-bottom: 1px solid #c1c1c1;
  padding: 12px;
}
.stock-reasearch-right .secnod-heading {
  border-bottom: 1px dashed #c1c1c1;
  padding: 9px 22px 9px 12px;
}
.stock-reasearch-right h3 {
  color: #333;
  line-height: 18px;
  font-weight: bold !important;
  font-size: 11px;
}

/* footer */
.footer {
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.footer a {
  color: #fff;
}

/*Utilities*/
.container {
  max-width: 1000px;
  margin: 0 auto;
}
